#filmes {
    margin-top: 10em;
    text-align: center;

    h2 {
        background-color: #113b8f;
        color: white;
        border-radius: 5px;
        padding: 0.5em;
    }

    img {
        border-radius: 5px;
    }

    Button{
        margin-bottom: 4em;
        background-color: #113b8f;
    }
}