@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

#home {
    margin-top: 8.5em;

    @media (max-width: 1400px) {
        margin-top: 5.5em;
    }

    .TextIntro {
        text-align: center;
        background-color: #963144;
        padding: 1em;
        border-radius: 5px;
        margin-bottom: 1em;

        h1 {
            margin: auto;
            background-color: #ff8959;
            width: 20em;
            color: white;
            border-radius: 5px;
            padding: 0.2em;
            font-weight: bold;
            font-family: 'Bebas Neue', sans-serif;
            text-decoration: underline;

            @media (max-width: 1400px) {
                width: auto;
            }

        }
    }

    .imgCapa {
        text-align: center;
        margin-bottom: 1em;

        img {
            border-radius: 5px;
        }
    }

    .destaqueDiv {

        h4 {
            background-color: #963143;
            color: white;
            padding: 0.5em;
            border-radius: 5px;
            font-weight: bold;
        }

        img {
            height: 15.3em;
            border-radius: 5px;

            @media (max-width:1400px) {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }

        .ratingScore {
            position: absolute;
            margin-top: -2.6em;
            font-weight: bold;
            color: white;
            padding: 0.5em;
            background-color: rgba(150, 48, 67, 0.781);
            border-radius: 5px;
            border-top-left-radius: 0;
            border-bottom-right-radius: 0;

            @media (max-width:1400px) {
                position: static;
                background-color: rgb(150, 48, 67);
                padding-top: 1em;
                margin-top: -0.7em;
                margin-left: 0em;
                text-align: center;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                border-bottom-right-radius: 5px;

            }

            .icon {
                color: yellow;
                margin-top: -0.3em;
            }
        }

        .titleLink {
            font-weight: bold;
            color: black;
            text-align: center;
            margin-top: 0.5em;

            &:hover {
                color: #d24d46;
            }
        }

        .dateRelease {
            text-align: center;
            margin-top: -1em;
        }

        @media (max-width:1400px) {

            ::-webkit-scrollbar {
                width: 0.5em;
                border-radius: 5px;
                height: 0.5em;
            }

            ::-webkit-scrollbar-thumb {
                background-color: #963143;
                border-radius: 5px;
            }

            ::-webkit-scrollbar-track {
                background-color: rgba(128, 128, 128, 0.267);

                border-radius: 5px;
                margin: 0 0.5em 0 0.5em;
            }
        }
    }

    .randomforYou {
        margin-bottom: 4em;
        
        .cardText {
            overflow-y: auto;
            height: 9em;
        }
    }



}