#footer {
    background-color: #113b8f;
    color: white;
    font-weight: bold;
    padding: 0.5em;

    p {
        margin-top: 1em;

        a {
            color: white;

            &:hover {
                color: gray;

            }
        }

        .icon {
            vertical-align: sub;
        }
    }


}