#NavigationBar {
    background-color: #963143;
    padding: 2em;
    box-shadow: none;

    @media (max-width:900px) {
        padding: 0;
        padding-top: 1em;
        padding-bottom: 1em;

    }

    .navbarLogo {

        img {
            height: 3em;

            @media (max-width:1400px) {
                height: 2em;
            }
        }

    }

    a {
        font-size: 1em;
        color: white;
        font-weight: bold;
        border-radius: 5px;
        background-color: transparent;
        transition: background-color 0.5s ease, color 0.5s ease;
        position: relative;
        z-index: 1;


        &::after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: 0%;
            height: 3px;
            width: 0;
            background-color: #ff8959;
            transition: 0.4s ease 0s, width 0.4s ease 0s, left 0.4s ease 0s;
        }

        &:hover {
            color: #ff8959;
        }

        &.active {
            color: #ff8959;

            &::after {
                left: 0;
                bottom: 0%;
                height: 3px;
                width: 100%;

            }

        }
    }


    .input-group {
        width: 40em;

        @media (max-width:900px) {
            width: auto;
        }

        ::placeholder {
            font-style: italic;
        }

        .form-control:focus {
            border-color: white;
        }

        .BtnSearch {
            background-color: #ff8959;
            box-shadow: none;

            &:hover {
                background-color: #e76836;
            }
        }
    }
}