#NavigationBar {
    background-color: #011246;
    padding: 2em;

    @media (max-width:900px) {
        padding: 0;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    a {
        color: white;
        font-weight: bold;
        border-radius: 5px;
        padding-left: 0.3em;
        &:hover {
            background-color: #FC691A;
        }

        &.active {
            background-color: #FC691A;
        }
    }


    .input-group {
        width: 40em;

        @media (max-width:900px) {
            width: auto;
        }

        ::placeholder {
            font-style: italic;
        }

        .form-control {
            border-color: transparent;
        }

        .BtnSearch {
            background-color: #FC691A;
            box-shadow: none;

            &:hover {
                background-color: #c24400;
            }
        }
    }
}